<!--<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
    <a routerLink="/view_tasks" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">view_tasks</a>
    <a routerLink="/add_task" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">add_task</a>
    <a routerLink="/edit_task" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">edit_task</a>
  </nav>
  
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>-->